.main{
  width: 100%;
  min-height: 100vh;
  display: grid;
  place-items: center;
  background-color: aliceblue;
}
.container{
  width: 100%;
  max-width: 700px;
  min-height:90vh;
  border: 1px gray solid;
  padding: 2rem 1rem;
  border-radius: 10px;
  background-color: white;
}

.subtext{
  opacity: 0.6;
}
.discountedPrice{
  color: rgb(58, 145, 8);
}
.bolden{
  font-weight: 1000;
}
.itemList{
  display: flex;
  flex-direction: column;
}

.item{
  display: flex;
  gap: 1rem;
  margin-top: 3rem;
}
.leftPart{
  min-width: 5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.imageContainer{
  width: 100%;
  min-width: 150px;
  aspect-ratio: 3/2;
  background-color: rgb(245, 245, 245);
  border-radius: .5rem;
}
.actionList{
  list-style-type:none;
  padding-left: 0;
}
.actionList > li{
  display: flex;
  align-items: center;
  gap: .2rem;
}
.icon{
  height: 1rem;
  aspect-ratio: 1/1;
}
.rightPart{
  flex-grow: 1;
}

.properties{
  display: flex;
  gap: 1rem;
}
.rating{
  display: flex;
  gap: .1rem;
  margin-bottom: 1.3rem;
}
.starIcon{
  width: 1.3rem;
  aspect-ratio: 1/1;
}


.promoContainer{
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
  width: 100%;
  border-radius: 1rem;
  border: gray 1px solid;
}
.inputField{
  flex-grow: 1;
}
.applyButton{
  font-size: 1.1rem;
  color: black;
  font-weight: 1500;
}
.originalItemPrice{
  font-size: .9rem;
}


.billing{
  margin-top:5rem;
  display: flex;
  flex-direction: column;
  gap: .5rem;
}
.billingItem{
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.totalContainer{
  margin-top: 4rem;
  display: flex;
  justify-content: space-between;
}

.finalTotal{
  font-size: 2rem;
  font-weight: 1000;
}